<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're {{ compliment }}!

    <form action="/game">
      <!-- Radio buttons to ask if user wants to play Madlibs -->
      Would you like to play a game?
      <input type="radio" name="game" value="True">
      <label>Yes</label>

      <input type="radio" name="game" value="False">
      <label>No</label>

      <!-- Submit button -->
      <input type="submit">
    </form>


</body>
</html>