<!doctype html>
<html>
<head>
  <title>Game</title>
    </head>
    <body>

     <form action="/madlib">
        <!-- Ask user to pick a person, a color, a noun, and an adjective -->
        <p>Fill in these boxes</p>
        <label>a name:</label>
        <input type="text" name="person">
        <br>
        <!-- Drop down color menu -->
        <label>color:</label>
        <select name="color">
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
        </select>
        <br>
        <label>a noun:</label>
        <input type="text" name="noun">
        <br>
        <label>an adjective:</label>
        <input type="text" name="adjective">
        <br>
        <input type="submit">
     </form>

    </body>

</html>